<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Vistete
            <br />
            Con tu escencia
        </h2>
        <p>
            Reconecta con tu esencia. Explora nuestra colección y experimenta la libertad de vestirte a tu manera.
        </p>
        <a href="/contact" class="cs-button-solid">Nuestro Catalogo</a>
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="/assets/images/landing.png"
        />
        <source
            media="(min-width: 601px)"
            srcset="/assets/images/landing.png"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/landing.png"
            alt="kitchen cabinets"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
