---
title: "Contacto | Xala"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "contact/"
eleventyNavigation:
    key: Contactanos
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contactanos</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing.png"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.png"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.png"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contactanos</span>
                    <h2 class="cs-title">ponte en contacto</h2>
                    <p class="cs-text">
                        ¿Tienes preguntas, sugerencias o deseas conocer más sobre XALA y cómo podemos ayudarte? Estamos aquí para escucharte. Ponte en contacto con nosotros a través de nuestro correo electrónico o síguenos en nuestras redes sociales para mantenerte al tanto de nuestras novedades. ¡Tu esencia nos inspira!
                    </p>
                </div>
                <label>
                    nombre
                    <input
                        required
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Nombre"
                    />
                </label>
                <label>
                    Correo
                    <input
                        required
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Correo"
                    />
                </label>
                <label>
                    Telefono
                    <input
                        required
                        type="text"
                        id="phone"
                        name="phone"
                        placeholder="Telefono"
                    />
                </label>
                <label>
                    ¿Como nos encontraste?
                    <input
                        type="text"
                        id="find"
                        name="find-us"
                        placeholder="¿Como nos encontraste?"
                    />
                </label>
                <label class="cs-label-message">
                    Mensaje
                    <textarea
                        required
                        name="Message"
                        id="message"
                        placeholder="Escribe un mensaje..."
                    ></textarea>
                </label>
                <button class="cs-button-solid" type="submit">
                    Enviar Mensaje
                </button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Correo</span>
                <a class="cs-link" href="mailto:{{ client.email }}"
                    >{{ client.email }}</a
                >
                <!--Phone-->
                <span class="cs-header">Telefono</span>
                <a class="cs-link" href="tel:{{ client.phoneForTel }}"
                    >{{ client.phoneFormatted }}</a
                >
                <!--Address-->
                <span class="cs-header">Dirección</span>
                <a class="cs-link" href="{{ client.address.mapLink }}">
                    {{ client.address.lineOne }},
                    <br />
                    {{ client.address.lineTwo }},
                    <br />
                    <span class="cs-block">
                        {{ client.address.city }}
                        {{ client.address.state }}
                        {{ client.address.zip }}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/Founders.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/Founders.jpg"
                        alt="building"
                        loading="lazy"
                        width="2500"
                        height="1667"
                    />
                </picture>
            </div>
        </div>
    </section>
{% endblock %}
