---
title: "Xala | Accesible Clothing | Merida, YUC"
description: "Encuentra la comodidad y el estilo que mereces. ¡Visita nuestro catálogo hoy"
preloadImg: "/assets/images/landing.png"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Xala - Ropa para todos</span>
                <h1 class="cs-title">Se puro con tu escencia</h1>
                <p class="cs-text">
                    Ropa adaptada que combina funcionalidad, comodidad y estilo, 
                    diseñada para facilitar la independencia de personas con discapacidad motriz.
                </p>
                <a href="/project-one" class="cs-button-solid">Nuestro Catalogo</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                        alt="play icon"
                        width="17"
                        height="17"
                    />
                    Contactanos
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing.png"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.png"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.png"
                alt="new home"
                width="2500"
                height="1667"
                loading="eager"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                    aria-hidden="true"
                    decoding="async"
                    src="/assets/svgs/vestido.svg"
                    alt="appliance"
                    width="48"
                    height="48"
                />
            </picture>
            <h2> Ropa Adaptada Funcional y <em>Estilosa</em></h2>
            <p>
                 XALA ofrece ropa adaptada que combina funcionalidad, 
                 comodidad y estilo , y que además es estéticamente moderna.
            </p>
        </div>
        <div class="card">
            <picture>
                <img
                    aria-hidden="true"
                    decoding="async"
                    src="/assets/svgs/camiseta.svg"
                    alt="appliance"
                    width="48"
                    height="48"
                />
            </picture>
            <h2>Personalización de Prendas</h2>
            <p>
                Nuestras prendas son personalizadas, para un servicio de adaptación a las necesidades y gustos individuales
            </p>
        </div>
        <div class="card">
            <picture>
                <img
                    aria-hidden="true"
                    decoding="async"
                    src="/assets/svgs/camiseta2.svg"
                    alt="appliance"
                    width="48"
                    height="48"
                />
            </picture>
            <h2>Independencia al Vestir</h2>
            <p>
                 Prendas diseñadas para facilitar la independencia de personas con discapacidad motriz , 
                 permitiendo a los usuarios vestirse sin ayuda.
            </p>
        </div>
    </section>

    <!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-1599">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">¿Que es Xala?</span>
            <h2 class="cs-title">Ropa accesible diseñada para todos</h2>
            <p class="cs-text">
                En XALA ofrecemos ropa adaptada que combina funcionalidad, comodidad y estilo, diseñada para facilitar la independencia de personas con discapacidad motriz. Nuestras prendas son accesibles,
                 personalizadas y estéticamente modernas, permitiendo a los usuarios vestirse sin ayuda y sentirse incluidos sin sacrificar su imagen personal.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model2.jpg" alt="people" width="608" height="662">
            </picture>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">99%</span>
                    <span class="cs-desc">Reseñas positivas</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">10</span>
                    <span class="cs-desc">Dias para devolución sin costo</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">24/7</span>
                    <span class="cs-desc">Soporte en linea</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1552">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item cs-item-offer">
                <div class="cs-text-wrapper">
                    <span class="cs-offer-tag">ONLY $20</span>
                    <h3 class="cs-h3">Selected Woman’s Wear</h3>
                    <span class="cs-item-text">Special seasonal offer of the month</span>
                    <a class="cs-button-solid" href="/">Shop Now</a>
                    <picture class="cs-background" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-womens-offer-m.png">
                        <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-womens-offer.png">
                        <img loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-womens-offer.png"
                                width="365" height="201">
                    </picture>
                </div>
            </li>
            <li class="cs-item">
                <a class="cs-category" href="/">T-Shirts</a>
                <picture class="cs-background" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png"
                            width="365" height="201">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-category" href="/">Bags</a>
                <picture class="cs-background" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png" width="365"
                            height="201">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-category" href="/">Shoes</a>
                <picture class="cs-background" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png"
                            width="365" height="201">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-category" href="/">Accessories</a>
                <picture class="cs-background" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png"
                            width="365" height="201">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
                                

   
                                

    <!-- ============================================ -->
<!--                    Team                      -->
<!-- ============================================ -->

<section id="meet-team-2071">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Nuestras Fundadoras</span>
            <h2 class="cs-title">Conoce a el equipo</h2>
            <p class="cs-text">
                El equipo de fundadoras de XALA está compuesto por Ana Beatriz Matos Santos, Alondra Castilla, Leilany Paredes y Ximena González, un grupo de talentosas estudiantes universitarias con una visión compartida para la inclusión y la innovación en el vestuario adaptado.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-name">Ana Beatriz Matos Santos</span>
                <div class="cs-flex">
                    <span class="cs-job">Administración de Empresas del Entretenimiento</span>
                    <span class="cs-department">Fundadora</span>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-name">Leilany Paredes
</span>
                <div class="cs-flex">
                    <span class="cs-job">Finanzas</span>
                    <span class="cs-department">Fundadora</span>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-name">Alondra Castilla </span>
                <div class="cs-flex">
                    <span class="cs-job">Administración de Empresas del Entretenimiento</span>
                    <span class="cs-department">Fundadora</span>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-name">Ximena González</span>
                <div class="cs-flex">
                    <span class="cs-job">Contaduria</span>
                    <span class="cs-department">Fundadora</span>
                </div>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/Founders.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Founders.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Founders.jpg" alt="Founders Image" width="1024" height="894">
    </picture>
</section>


    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Nuestras Reseñas</span>
            <h2 class="cs-title">Lo que dicen nuestros clientes</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
                dolor volutpat porttitor sagittis nunc nisl. Sagittis sit
                pellentesque gravida viverra. Leo ut sed euismod tortor risus
                et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                    "¡La ropa de XALA ha cambiado mi día a día! Es cómoda, fácil de usar y me siento increíblemente bien con ella. Gracias por pensar en nosotros."
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">-Cliente satisfecho</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                       "Por fin ropa que no solo es funcional, sino también a la moda. Me encanta la independencia que me brinda XALA."
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">-Usuaria Feliz</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
            </ul>
      
        </div>
    </section>
    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1431">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Person Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-person">
                <source media="(max-width: 600px)" srcset="/assets/images/Xala logo.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Xala logo.png">
                <img loading="lazy" decoding="async" src="/assets/images/Xala logo.png" alt="volunteer" width="702" height="617" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Dar es más que recibir</span>
            <h2 class="cs-title">Contáctanos y Colabora</h2>
            <p class="cs-text">
                En XALA, creemos en el poder de la comunidad. Si estás interesado en realizar donaciones, establecer colaboraciones o asociarte con fundaciones, ¡nos encantaría escuchar de ti!
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Colaboraciones</h3>
                        <p class="cs-li-text">
                            Si eres una empresa y tienes una idea para una colaboracion no dudes en mandarnos un mensaje, queremos llegar a todo el publico que nos necesite.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Donaciones</h3>
                        <p class="cs-li-text">
                            Si quieres aportar hacia este proyecto estamos mas que agradecidos.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Sugerencias</h3>
                        <p class="cs-li-text">
                            ¿Tienes alguna idea para un producto?, ¿Una idea que diseñaste?, Todas las ideas y sugerenicas son bienvenidas.
                        </p>
                    </div>
                </li>
            </ul>             
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}
